<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">

		<activity
			android:name=".MainActivity"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity
			android:name=".fundamentals.Fundamentals011"
			android:exported="false"
			android:label="@string/fundamentals011" />

		<activity
			android:name=".fundamentals.Fundamentals012"
			android:exported="false"
			android:label="@string/fundamentals012" />

		<activity
			android:name=".fundamentals.Fundamentals013"
			android:exported="false"
			android:label="@string/fundamentals013" />

		<activity
			android:name=".fundamentals.Fundamentals021A"
			android:exported="false"
			android:label="@string/fundamentals021a" />

		<activity
			android:name=".fundamentals.Fundamentals021B"
			android:exported="false"
			android:label="@string/fundamentals021b"
			android:parentActivityName=".fundamentals.Fundamentals021A">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".fundamentals.Fundamentals021A" />
		</activity>

	</application>

</manifest>